* {
  font-size: 20px;
}
header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: fit-content;
  background: #e7e9eb;
}
.elementWrapper {
  display: flex;
}
.box-seperate {
  margin: 20px;
}
.element {
  padding: 10px;
}
.id {
  text-align: center;
}
button {
  border: none;

  border-radius: 8px;
  background: #04aa6d;
}
button:hover {
  background: #059862;
}
.red {
  background: red;
}
.button-container {
  display: flex;
  justify-content: center;
}
.deleteButton {
  background: red;
  padding: 10px;
}

.popup {
  display: grid;
  visibility: hidden;
  width: 30%;
  position: absolute;
  background: #e7e9eb;
  z-index: 1000;
  top: 40%;
  left: 40%;
  border: 2px solid grey;
  border-radius: 10px;
}
input {
  margin: 20px;
}
.submit {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.active {
  visibility: visible;
}
