* {
  font-size: 20px;
  color: white;
}
.body {
  background-color: black;
  max-width: 100vw;
  margin: 0;
}
header {
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  max-width: 95%;
  margin: auto;
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto;
}

.box {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background: #202224;
}
.allow {
  width: 100px;
}
@media screen and (min-width: 300px) {
  .boxes {
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 600px) {
  .boxes {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 900px) {
  .boxes {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .boxes {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 1500px) {
  .boxes {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media screen and (min-width: 1800px) {
  .boxes {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media screen and (min-width: 2100px) {
  .boxes {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}
.elementWrapper {
  display: flex;
}
.box-seperate {
  margin: 20px;
}
.element {
  padding: 10px;
}
.id {
  text-align: center;
}
.button {
  border: none;
  border-radius: 8px;
  background: #04aa6d;
  margin-right: 10px;
}
.button-hover:hover {
  background: #059862;
}
.orange {
  background: rgb(198, 114, 17);
}
.orange:hover {
  background: rgb(146, 80, 4);
}
.button-container {
  display: flex;
  justify-content: center;
}
.deleteButton {
  background: red;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}
.setButton {
  background-color: #04aa6d;
  padding-left: 25px;
  padding-right: 25px;
}
.popup {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  background: #1c1d1d;
  z-index: 1000;
  border: 2px solid grey;
  border-radius: 10px;
}
input {
  margin: 20px;
}
.submit {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.active {
  visibility: visible;
}
.inputPopup {
  color: black;
}
