* {
  font-size: 18px;
  color: white;
}
.body {
  background-color: black;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.navbar {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.nav-element {
  height: 100%;
  max-height: 50px;
}
.button-newUser {
  font-size: 16px;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 3px;
}
.green {
  background: #04aa6d;
}
.green:hover {
  background: #059862;
}

.boxes-container {
  display: grid;
}
@media screen and (min-width: 300px) {
  .boxes-container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    grid-template-columns: auto;
  }
  .box {
    scroll-snap-align: start;
  }
}
@media screen and (min-width: 600px) {
  .boxes-container {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 900px) {
  .boxes-container {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .boxes-container {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 1500px) {
  .boxes-container {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media screen and (min-width: 1800px) {
  .boxes-container {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media screen and (min-width: 2100px) {
  .boxes-container {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}
.button-container > button {
  margin-right: 10px;
}
.box {
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background: #202224;
  max-height: 600px;
  position: relative;
  z-index: 1;
}
.center {
  text-align: center;
}
.elementWrapper {
  display: flex;
  justify-content: space-around;
}
.box-element {
  margin: 10px;
}
.orange {
  background: rgb(198, 114, 17);
}
.orange:hover {
  background: rgb(146, 80, 4);
}
.button {
  border: none;
  width: 110px;
}
.red {
  background: red;
}
.red:hover {
  background: rgb(149, 8, 8);
}

/* Popups */
.popup {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  display: grid;
  background: #1c1d1d;
  z-index: 1000;
  border: 2px solid grey;
  border-radius: 10px;
}
.active {
  visibility: visible;
}
.m-auto {
  margin: auto;
}
.m-10 {
  margin: 10px auto;
}
.input-popup {
  width: 60%;
  border-radius: 5px;
}
.badge1 {
  position: absolute;
  background-color: #5cacee;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
  visibility: visible;
}

.badge1:after {
  content: "";
  position: absolute;
  top: 0px;
  transform: skew(20deg);
  right: -15px;
  width: 30px;
  height: inherit;
  background-color: #5cacee;
}

.badge1 {
  top: 30px;
  left: 0px;
}
.badge1:hover {
  transition: all 1s;
  top: 60px;
}
