.bar-container {
  width: 95vw;
  max-width: 1300px;
  margin: auto;
  height: 50px;
  padding: 50px 0px 50px 30px;
}

.border {
  border: 4px solid rgb(165, 171, 175);
  border-radius: 30px;
  overflow: hidden;
}
.bar {
  background-color: rgb(46, 196, 182);
  min-height: 50px;
  display: flex;
  justify-content: center;
}
.percentage {
  padding-top: 10px;
  left: 45%;
  position: fixed;
}
