.grey {
  background-color: #202224;
}
.grey:hover {
  background-color: #161718;
}
.button-voting {
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}

.button-voting-container {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}
